body {
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: #F1F1F1;
}

.main{
    align-items: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    align-items: center;
    padding: 15px;
    border: 1px solid #A7D7F9;
}

.headerbild {
    display: flex;
    margin: 15px auto;
    height: auto;
    width: 100%;


}

.bild{
    align-items: center;
}
.header2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 5px;
}
.navbox {
    display: flex;
    background-color: transparent;
    margin: 15px;
    font-size: x-large;
}

.navboxhome {
    display: flex;
    background-color: transparent;
    margin: 15px;
    font-size: xx-large;

}
/*section shit seperator -----------------------------------------*/

section{
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    padding:15px;
    margin: 15px;
    flex-direction: column;
    border: 1px solid #A7D7F9;
    margin-bottom: 60px;
}

.img{
    display:flex;
    align-items: center;
    padding: 15px;
}

.img2 {
    display: flex;
    align-items: center;
    padding: 15px;
    height: 600px;
}
.p{
    font-size: large;
}

.video{
    display: flex;
    align-items: center;
}
/*footer shit seperator------------------------------------------*/

footer {
    display: flex;
    padding: 15px;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFFFF;
    width: 100%;
    position: fixed;
    bottom: 0;
    border: 1px solid #A7D7F9;
}